* {
  user-select: none;
  font-family: sans-serif;
}

#cross {
  background-image: url(../img/krizovatka.png);
  height: 1080px;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-route {
  cursor: pointer;
  border-radius: 10px;
}

#route1 {
  float: left;
  margin-top: 20%;
  margin-left: 20%;
  font-size: 30pt;
}

#route2 {
  float: right;
  margin-right: 35%;
  margin-top: 15%;
  font-size: 28pt;
}

#route3 {
  float: right;
  margin-top: 2%;
  margin-left: 55%;
  font-size: 30pt;
}
/*Konec stylu křižovatky*/

#servis {
  height: 1080px;
  display: none;
  background: none;
}

#back {
  display: none;
  font-size: 30pt;
  margin-left: 1%;
  margin-top: 1%;
  float: left;
  border-radius: 10px;
  cursor: pointer;
}

#dead-info ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#dead-info {
  background-color: #fff;
  border: 1px #000 solid;
  border-radius: 10px;
  max-width: 40%;
  float: right;
  margin: 1%;
  margin-top: 35%;
  margin-right: 20%;
  padding: 1%;
}
/* Konec stylu oběti */

